colors {
  --gray-1: rgb(233, 233, 233);
  --gray-2: rgb(192, 192, 192);
  --gray-3: rgb(161, 161, 161);
  --gray-4: rgb(172, 172, 172);
  --gray-5: rgb(126, 126, 126);
  --gary-6: rgb(116, 116, 116);
  --gray-7: rgb(75, 75, 75);
}

.calendar-container {
  border: 1px solid var(gray-7);
  border-radius: 8px;
  box-shadow: 2px 2px 4px var(gray-2);
  width: 250px;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;
  
  .top-header-calendar {
    align-items: center;
    background-color: var(gray-2);
    border-radius: 8px 8px 0 0;
    color: var(gray-7);
    display: flex;
    font-size: small;
    justify-content: center;
    padding: 2px 0;
    transition: background-color 0.2s;
  }

  .top-header-calendar:hover {
    background-color: var(gray-3);
    cursor: pointer;
  }

  .top-header-calendar:active {
    background-color: var(gray-5);
  }
  
  .header-calendar {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 4px 0;

    .arrow-calendar {
      align-items: center;
      border-radius: 50%;
      color: var(gray-4);
      display: flex;
      justify-content: center;
      transition: background-color 0.3s;
    }

    .arrow-calendar:hover {
      cursor: pointer;
      color: var(gray-7);
    }
  }

  .field-calendar {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
  
    .cell-calendar {
      align-items: center;
      border-radius: 50%;
      display: flex;
      height: 14.28%;
      justify-content: center;
      width: 14.28%;
      transition: background-color 0.3s;
    }

    .text-black {
      color: black;
      font-weight: 500;
    }

    .text-gray {
      color: var(gray-6);
    }

    .text-ligth-gray {
      color: var(gray-6);
      text-decoration: line-through;
    }

    .currente-date {
      background-color: greenyellow;
    }

    .cell-calendar-hover:hover {
      background-color: var(gray-1);
      cursor: pointer;
    }
  }
}