$rose: #e06771;
$dark: rgba(17,17,17);
$bgImg: url('../../images/sulaTopHair/ruivaHair.jpg');

@mixin disp($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

@keyframes buttonAnimation {
  0% {
    transform: translateY(0px);
  } 
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: translateY(0px);
  } 
}

.myboxbutton {
  @include disp(space-evenly, row, nowrap);
  background-image: $bgImg;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;

  button {
    @include disp(space-evenly, row, nowrap);
    animation: buttonAnimation 2s infinite;
    background-color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: $rose;
    transition: 0.5s;
    min-width: 200px;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    height: 23%;
    width: 50%;

    &:hover {
      transform: translateY(2px);
      color: white;
      background-color: rgb(59, 59, 59);
    }
  }
}


