$bgImg: url('../../images/sulaTopHair/ruivaHair.jpg');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
#intro-page {
  align-items: center;
  background-image: url('../../images/sulaTopHair/ruivaHair.jpg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 342px;
  justify-content: center;
  overflow: hidden;
}

#dropdown-calendar {
  border: none;
}
.dropdown-toggle::after {
  display: none !important;
}

.show-date{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;

}


.form-calendar-icon {
  color: #C5545E;
}

@media screen and (min-width: 770px) {
  #introPage {
    background-position: left;
    height: 680px;
    .default-page-button {
      padding: 16px 30px;
      transition: transform 0.3s ease-in-out;
    }

    .default-page-button:hover {
      transform: scale(1.1);
    }
  }
}