@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Playfair+Display:ital@1&display=swap');

.carousel {
  background-color: rgb(75, 75, 75);

  .carousel-content {
    height: 450px;
    width: 100%;

    img {
      height: 450px;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media screen and (min-width: 500px) {
  .carousel {
    
    .carousel-content {
      height: 600px;
  
      img {
        height: 600px;
      }
    }
  }
}