@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Playfair+Display:ital@1&display=swap');

.carousel-img { 
  height: 100vh;
  max-height: 500px;

  img {
    height: 100%;
    object-fit: cover;
  }
}
